*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: large;
}

header{
    padding: 13px 0;
    background-color: #9cc0f0;
}


.container{
    max-width: 1100px;
    margin:0 auto;
    display: flex;
   
}

.content-col-left{
    text-align: left;
    padding: 0 0 0 10px;
}

.content-col-right{
    text-align: right;
    padding: 0 10px 0 0;
}

.l-col, .c-col, .r-col{

    border: 1px dashed black;
    background-color: #fbcf6a;
    padding: 8px 0;
}

.container-header{
    justify-content: space-between;
}

.width-left-right{
    width: 30%;
}

.width-central{
    width: 60%;
}

.content-central{
    text-align: center;
}

.single-col{
    height: 270px;
    width: 70%;
}

.single-col {
    margin:30px 0;
    border: 1px dashed black;
}

.left-col{
    width: 60%;
}

.right-col{
    width: 40%;
}

.container-sm{
    max-width: 920px;
    margin: 0 auto;
    display: flex;
}

.content{
    height: 300px;
    border: 1px dashed black;
}

.my-20{
    margin:30px auto;
}

.content-green-cont{
    width: 100%;
    height: 600px;
    background-color: #218B21;
    border: 1px dashed black;

}

.manycol{
    ;
    height: 100%;
}

.col40{
    width: 40%;
   
}

.col15{
   
    width: 15%;
}


.interno{
    height: 300px;
    border: 1px dashed black;
}

.bg-blu{
    background-color: #00018B;
    
}

.pink-col{
    background-color: #EE82ED;
}

.jc{
    justify-content: center;
}

.bg-white{
    background-color: #fff;
}

.pinklight-col{
    background-color: #FFC0CA;
}

.skyblue-col{
    background-color: #1E90FF;
}

.bg-grey{
    background-color: #D3D3D3;
}

.bg-black{
    background-color: black;
}

.rosino{
    background-color: #F08180;
}

.azzpaste{
    background-color: #20B3AA;
} 

footer{
    height: 1000px;
}

.mt-5{
    margin: 6px auto 30px auto;
}